<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WykOpinion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    h1, h3 {
      font-weight: bold;
      font-family: 'Inter', sans-serif;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
    }

    .navbar-brand span {
      font-weight: bold;
    }

    .navbar-brand img {
      height: 50px;
      width: 50px;
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../static/logo.png" alt="Logo" class="logo">
        <span>WykOpinion</span>
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Powrót do strony</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="text-center mt-3">
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-8">
            <h1 class="text-center">Czym jest WykOpinion?</h1>
            <div class="container mt-6">
              <img id="one" src="../static/emoji.png" width="400" height="120">
            </div>
            
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Projekt WykOpinion powstał z myślą o analizowaniu opinii społecznej na najpopularniejsze medialne tematy. Grupę respondentów stanowią użytkownicy serwisu wykop.pl komentujący dane zagadnienia. Przewagą WykOpinion nad klasycznymi ankietami znanymi z mediów jest całkowita bezstronność i ogromna różnorodność osób biorących udział w badaniu. Głównym celem WykOpinion jest przedstawienie zebranych danych w prosty i czytelny dla użytkownika sposób, umożliwiając tym samym analizę trendu, jaki wykazał dany tag na przestrzeni ostatnich lat.</p>
                </div>
            </div>

            <div class="container mb-5"></div>

            <h1 class="text-center">Jak działa WykOpinion?</h1>
            <div class="container md-8">
              <img id="one" src="../static/google.png" width="400" height="60">
            </div>
            
            <div class="card">
                <div class="card-body">
                    <p class="card-text">WykOpinion analizuję opinię użytkowników serwisu wykop.pl przy pomocy sztucznej inteligencji. Zostało to zrealizowane z wykorzystaniem narzędzia "Sentiment Analysis" dostarczonego przez firmę Google w ramach szerszego pakietu rozwiązań "Cloud Natural Language API". Zastosowanie tak zaawansowanej technologi pozwala na szybkie, efektywne i przede wszystkim skuteczne analizowanie tysięcy komentarzy na temat danego tagu.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>